{% extends 'base.html' %}
{% load review_extras %}
{% block content %}
    <div class="snippet">
        <p class = "intro">{% get_poster_display_review review.user %} publié une critique</p>
        <p class = "date">{{ review.time_created }}</p>
        <h3 class = "titre">{{ review.headline }} -
            {% for item in "x"|ljust:review.rating %}
                <span class="fa fa-star checked"></span>
            {% endfor %}
        </h3>
        <p class="text">{{ review.body }}</p>
        {% include 'ticket/ticket_snippet.html' with ticket=review.ticket %}
        {% if user == review.user %}
            <div class = "edit-button">
                <a href="{% url 'review_edit' review.id %}"><button>Modifier</button></a>
                <a href="{% url 'review_delete' review.id %}"><button>Supprimer</button></a>
            </div>
        {% endif %}
{% endblock content %}