{% load review_extras %}
{% block content %}
    <a href="{% url 'review_view' review.id %}"></a>
        <div class="snippet">
            <p class = "intro">Vous avez publié une critique</p>
            <p class = "date">{{ review.time_created }}</p>
                <h3 class = "titre">{{ review.headline }} - {{review.rating}}/5</h3>
            <p class="text">{{ review.body }}</p>
            {% include 'ticket/ticket_snippet.html' with ticket=review.ticket %}
        {% if user == review.user %}
            <div class = "edit-button">
            <a href="{% url 'review_edit' review.id %}"><button>Modifier</button></a>
            <a href="{% url 'review_delete' review.id %}"><button>Supprimer</button></a>
            </div>
                    {% endif %}
        </div>
{% endblock content %}