{% extends 'base.html' %}
{% block content %}
    <h2>Suivre des utilisateurs</h2>
    <h3>S'abonner à un utilisateur</h3>
        <form method="post">
        <input type = 'text' name='query'/>
        <input type = 'submit' />
        {% csrf_token %}
        </form>
    <p>{{ error_message }}</p>
    <h3>Abonnements</h3>
    <p></p>
    {% for follow in users_followed %}
        {% if user == follow.user %}
        <div class="followed-user">
        <p>{{ follow.followed_user }}
         <a href="{% url 'user_unfollow_page' follow.id %}"><button>Désabonner</button></a>
        </form>
        </p>
        </div>
        {% endif %}
    {% endfor %}
    <h3>Abonnés</h3>
    {% for follow in users_followed %}
        {% if user == follow.followed_user %}
     <div class="followed-user">
        <p>{{ follow.user }}
    </form>
        </p>
        </div>
        {% endif %}
    {% endfor %}
{% endblock content %}