{% extends 'base.html' %}
{% block content %}
    <h2>Suivre des utilisateurs</h2>
    <form method="post">
{#        {{ form.as_p }}#}
        {{ followed_form.as_p }}
        {% csrf_token %}
        <button type="submit" >Confirmer</button>
    </form>
    <h3>Abonnements</h3>
    {% for follow in azq%}
        {% include 'followed_snippet.html' %}
    {% endfor %}
    <h3>Abonnés</h3>
    {% for followers in following %}
        {% include 'followed_snippet.html' %}
    {% endfor %}
{#    {% for user_followed in followed %}#}
{#     <p>1</p>#}
{#    {% endfor %}#}
{% endblock content %}