{% extends 'base.html' %}
{% block content %}
    <div class="review-snippet">
    <h4>Critique n°{{review.id}}</h4>
        <p>En réponse au ticket suivant :</p>
        {% include 'ticket/ticket_snippet.html' with ticket=review.ticket %}
        <p>{{ review.time_created }}</p>
        <h4>{{ review.headline }} </h4>
        <p>Rating - {{review.rating}}/5</p>
        <p>{{ review.body }}</p>
        <a href="{% url 'review_edit' review.id %}"><button>Modifier</button></a>
        <a href="{% url 'review_delete' review.id %}"><button>Supprimer</button></a>
    </div>
{% endblock content %}
