{% extends 'base.html' %}
{% load review_extras %}
{% block content %}
    <div class = "top-button">
    <a href="{% url 'ticket_create' %}"><button>Demander une critique</button></a>
    <a href="{% url 'review_and_ticket_creation' %}"><button>Créer une critique</button></a>
    </div>
    <h2>Vos derniers posts</h2>
    <div class="feed">
        {% for instance in page_obj %}
            {%  if user == instance.user %}
                {% if instance|model_type == 'Ticket' %}
                    {% include 'ticket/ticket_snippet.html' with ticket=instance %}
                {% elif instance|model_type == 'Review' %}
                    {% include 'review/review_snippet.html' with review=instance %}
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
    {% include 'partials\page_navigator.html' %}
{% endblock content %}