{% extends 'base.html' %}
{% load review_extras %}
{% block content %}
    <h2>Se désabonner de {{ user_followed.followed_user }} ?</h2>
    <div class="submit-form">
    <form method="post" enctype="multipart/form-data">
        {{ delete_form }}
        {% csrf_token %}
        <button type="submit" >Se désabonner</button>
    </form>
    </div>
    <h2>Les derniers posts de {{ user_followed.followed_user }}</h2>
    <div class="feed">
        {% for instance in page_obj %}
            {% if user_followed.followed_user == instance.user %}
            {% if instance|model_type == 'Ticket' %}
                {% include 'ticket/ticket_snippet.html' with ticket=instance %}
            {% elif instance|model_type == 'Review' %}
                {% include 'review/review_snippet.html' with review=instance %}
            {% endif %}
        {% endif %}
        {% endfor %}
    </div>
{% endblock content %}