{% extends 'base.html' %}
{% block content %}
    <h2>Suivre des utilisateurs</h2>
    <form method="post" enctype="multipart/form-data">
{#        {{ form.as_p }}#}
        {{ followed_form.as_p }}
        {% csrf_token %}
        <button type="submit" >Confirmer</button>
    </form>
    <h3>Abonnements</h3>
    <p></p>
    {% for follow in users_followed %}
        {% if user == follow.user %}
        {% include 'followed_snippet.html' %}
        {% endif %}
    {% endfor %}
    <h3>Abonnés</h3>
    {% for follow in users_followed %}
        {% if user == follow.followed_user %}
        {% include 'follower_snippet.html'%}
        {% endif %}
    {% endfor %}
{#    {% for user_followed in followed %}#}
{#     <p>1</p>#}
{#    {% endfor %}#}
{% endblock content %}